<form class="form" [formGroup]="form" (ngSubmit)="guardar()">
  <a class="form_back" type="button" routerLink="/users">Volver</a>
  <label>Rol de usuario</label>

  <select formControlName="ID_ROL">
    <option *ngFor="let dataRoles of roles" [value]="dataRoles.ID_ROL">
      {{ dataRoles.NOMBRE }}
    </option>
  </select>
  <p *ngIf="rolNovalido" class="field_invalid">Seleccione el estado</p>

  <label>Nombre de usuario</label>
  <input
    type="text"
    name="nombre"
    placeholder="Ingrese Nombre de Usuario"
    formControlName="NOMBRE"
    (Onchange)="searchUser(nombre.value)"
    #nombre
  />
  <p *ngIf="searchUser(nombre.value) != -1 " class="field_invalid">El usuario ya existe</p>
  <p *ngIf="nombreNovalido" class="field_invalid">Ingrese nombre de usuario</p>
  <label>Estado del usuario</label>

 
  <select formControlName="ACTIVO">
    <option *ngFor="let dataEstado of estado" [value]="dataEstado">
      {{ dataEstado | dataTransform }}
    </option>
  </select>
  <p *ngIf="estadoNovalido" class="field_invalid">Seleccione el estado</p>

  <button type="submit" class="button_save" >Guardar</button>
</form>
